# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore environment files
.env
.env.*

# Ignore Jupyter Notebook configuration files
.jupyter

# Ignore virtual environment folders
venv/
env/
ENV/

# Ignore Jupyter Notebook extension configuration
.nbextensions

# Ignore other common IDE files
.vscode/
.idea/
